@import "variables";
@import "mixins";

.excel__table {
  overflow-x: auto;
  // overflow-y: auto;
  padding-bottom: 2px;
  height: calc(100vh - 298px);
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;

  .rows-container {
    width: 40px;

    .row:first-child {
      position: fixed;
      top: 98px;
      left: 0;
      width: 40px;
      height: 24px;
      background: red;
    }

    .row:nth-child(2) {
      margin-top: 24px;
    }
  }

  .cols-container {
    flex-grow: 1;
    background: #ccc;
    overflow-x: scroll;
  }

  .row {
    display: flex;
    flex-direction: row;
    min-height: 20px;
    height: $row-height;
  }

  .row-info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $info-cell-width;
    height: 100%;
    border: 1px solid $border-color;
    background: #f8f9fa;
    border-top: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;   
  }

  .row-data {
    display: flex;
    height: 24px;
  }

  .column {
    position: sticky;
    top: 0;
    z-index: 10;
    // display: flex;
    // justify-content: center;
    // align-items: center;   
    background: #f8f9fa;
    min-width: 40px; 
    width: $cell-width;
    border: 1px solid $border-color;
    border-top: 0;
    border-left: 0;
    height: 100%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;   
  }

  .cell {
    min-width: 40px;
    padding: 5px;
    width: $cell-width;
    height: 100%;
    border: 1px solid #e2e3e3;
    border-top: 0;
    border-left: 0;
    white-space: nowrap;
    outline: none;
    color: #000;

    &.selected {
      border: none;
      outline: 2px solid $primary-color;
      z-index: 2;
    }
  }

  .col-resize, .row-resize {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    background: $primary-color;
    z-index: 1000;

    &:hover {
      opacity: 1!important;
    }
  }

  .col-resize {
    top: 0;
    width: 4px;

    &:hover {
      cursor: col-resize;
    }
  }

  .row-resize {
    left: 0;
    height: 4px;

    &:hover {
      cursor: row-resize;
    }
  }

  tbody {
    th {
      position: sticky;
      left: 0;
      z-index: 5;
      background: #f8f9fa;
      border: 1px solid #c0c0c0;
      border-top: 0;
      border-left: 0;
    }
  }
}