<div class="db">
  <div class="db__header">
    <h1>Excel</h1>
  </div>

  <div class="db__new">
    <div class="db__view">
      <a href="#" class="db__create">
        Новая <br /> таблица
      </a>
    </div>
  </div>

  <loader-component if="loading"></loader-component>
  <div else class="db__table db__view">
    <div class="db__list-header">
      <span>Название</span>
      <span>Дата открытия</span>
    </div>
    <ul class="db__list">
      <li class="db__record" foreach="data">
        <a href="#">{{item.title}}</a>
        <strong></strong>
      </li>
    </ul>
  </div>

</div>